{#
/**
 * @file
 * Displays a generic FAB based on theme variables.
 *
 * Available variables:
 * - color: The color _name_ of the main button (defaults to "red").
 * - icon: The icon for the main button (defaults to "add").
 * - links: An array of arrays in the format:
 *   - color: The link color _code_ (probably coming from type_style).
 *   - icon: The link icon (probably coming from type_style).
 *   - tooltip: The tooltip text to show when hovering over the link.
 *   - href: The link for the icon.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large {{ color }}">
    <i class="large material-icons">{{ icon }}</i>
  </a>
  <ul>
    {%- for link in links -%}
      <li>
        <a class="btn-floating tooltipped" data-position="top" data-delay="100" data-tooltip="{{ link.tooltip }}" style="background-color: {{ link.color }};" href="{{ link.href }}">
          {% if link.icon == 'instagram' or link.icon == 'twitter' %}
          <i class="socicon-{{ link.icon }} left" style="font-size: 1.2rem;"></i>
          {% else %}
            <i class="material-icons left">{{ link.icon }}</i>
          {% endif %}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</div>
