{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('card', 'media-browser-card')|without('style') }} style="background: {{ type_style(elements['#media'], 'color', '#2196F3') }}">
  <div class="card-image">
    {{ content }}
    <i class="material-icons check-indicator">check_circle</i>
  </div>
  <div class="card-content">
    {% set icon = type_style(elements['#media'], 'icon', 'star') %}
    {% if icon == 'instagram' or icon == 'twitter' %}
      <i class="socicon-{{ icon }} left"></i>
    {% else %}
      <i class="material-icons left">{{ icon }}</i>
    {% endif %}
    <p>{{ name }}</p>
  </div>
</article>
